@import './base.css';

#app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  position: relative;
}

.app-container {
  display: grid;
  row-gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 10px;
  position: relative;
  padding: 30px; /* Space for expanded log */
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #2d2d2d;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  top: 1rem;
}

.calculator .display {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: pre-wrap;
  background-color: #3c3c3c;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0.25rem;
  min-height: 3rem;
}

.calculator .keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.calculator .keys button {
  background-color: #3c3c3c;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

.calculator .keys .operator {
  background-color: #4b4b4b;
}

.calculator .keys .equals {
  background-color: rgb(255, 112, 60);
}

.log {
  width: 100%;
  max-width: 400px;
  position: relative;
  margin-top: 10px;
  bottom: 0;
  
}
.log button{
  background-color: #4b4b4b;
  color: white;
  border-radius: 5px;
}

.collapsible {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
}

.collapsible.collapsed {
  border-radius: 10px;
  background-color: #2d2d2d;
  color: white;
}

.collapsible.revealed {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #4b4b4b;
  color: white;
}

.content-container {
  width: 100%;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #2d2d2d;
  color: white;
  font-size: 10px;
}

.content {
  max-height: 200px;
  overflow-y: auto;
  white-space: pre-wrap;
  margin: 0 0 5px 0;
  padding: 10px;
  border: 1px solid #4b4b4b;
  background-color: #2d2d2d;
  color: white;
  text-align: center;
  font-size: 10px;
}

/* Media Queries */
@media (max-width: 480px) {
  .calculator-container {
    max-width: 100%;
    padding-bottom: 250px; /* Slightly less space on mobile */
  }
  
  .calculator .keys button {
    padding: 0.75rem;
    font-size: 14px;
  }
  
  .log {
    max-height: 150px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .calculator-container {
    max-width: 350px;
  }
}

@media (min-width: 769px) {
  .calculator-container {
    max-width: 400px;
  }
  
  .calculator .keys button {
    padding: 1.25rem;
    font-size: 16px;
  }
}